*.ml* header_spec=CEA_LGPL.lannotate
dune header_spec=CEA_LGPL.lannotate
dune-project header_spec=CEA_LGPL.lannotate
Makefile header_spec=CEA_LGPL.lannotate
/share/labels.h header_spec=CEA_LGPL.lannotate

frama-c-lannotate.opam header_spec=.ignore
frama-c-lannotate.opam.template header_spec=.ignore
.gitattributes header_spec=.ignore
.gitignore header_spec=.ignore
.gitlab-ci.yml header_spec=.ignore
README* header_spec=.ignore
/nix/** header_spec=.ignore
/tests/** header_spec=.ignore
/headers/** header_spec=.ignore
/AUTHORS_bes header_spec=.ignore
/LICENSE header_spec=.ignore
*.markdown header_spec=.ignore


# linter

* check-eoleof check-utf8

*.jpg binary -check-eoleof -check-utf8
*.pdf binary -check-eoleof -check-utf8

*.ml  check-syntax check-indent -check-eoleof
*.mli check-syntax check-indent -check-eoleof
