*.cm[oaxit]
*.cmx[as]
*.cmti
*.annot
*.o
*.a
*~
.*.swp
.depend
*_DEP
*.check_mli_exists
.Makefile.plugin.generated
/top/
/doc/code/*
/tests/*/result/
META.frama-c-*
/tests/ptests_config
.merlin
autom4te.cache
config.log
config.status
configure
.vscode
testcases*/
pathcrawler_*
/_build/
/frama-c-lannotate.opam
